@model Website.Models.User
<!DOCTYPE html>
@{

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<center>

    <h2>UpdateUser</h2>

    @using (Html.BeginForm("UpdateUserInfo", "Admin"))
    {

        @Html.ValidationSummary(true)


        @*@Html.HiddenFor(model => model.DPId)
            @Html.HiddenFor(model => model.Imagepath)*@
        <div class="editor-label" style="margin-top:160px">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNo)
            @Html.ValidationMessageFor(model => model.PhoneNo)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    }

    <div>
        @* @Html.ActionLink("", "")*@
    </div>

</center>

